.contact-top{
    margin-left: 630px;
    position: relative;
}

.contact-form{
    background-color: #FCFFDB;
    border-radius: 5px;
    box-shadow: 2px 3px 2px 2px black;
}



@media only screen and (max-width: 800px){
    .contact-top{
        display: none;
    }
}