@import url('https://fonts.googleapis.com/css2?family=Mochiy+Pop+P+One&family=Oswald:wght@500&display=swap');

.logo{
    width:90px; 
    height:70px;
}

.header{
    background-color: #c5d5cb;
    
}


.header-nav{
    margin-left: 100px;
}

.header .header-nav .nav-link {
    
    padding-left: 40px;
    color:#202c25;
    font-family: 'Mochiy Pop P One', sans-serif;
    font-family: 'Oswald', sans-serif;
    font-size: 24px;
    text-transform: uppercase;
    display: inline-block;
      
}




.header .header-nav .nav-link{
    position:relative;
    z-index: 1;
  }
  .header .header-nav .nav-link:hover {
    color: #0f9166;
  }
  .header .header-nav .nav-link:after {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    
    content: '.';
    color: transparent;
    background: #202c25;
  
    opacity: 0;
    z-index: -1;
  }
  .header .header-nav .nav-link:hover:after {
    opacity: .80;
    visibility: visible;
    height: 100%;
    margin-left: 30px;
  
  }
  






