.footer{
    background-color: #c5d5cb;
}

.logo{
    width:90px; 
    height:70px;
}

.footer-li{
     
     list-style-type: none;
     display: flex;
    
 }

 ul li {
    padding: 10px;
 
 }


 ul li a{
    text-decoration: none;
 }


 .footer-socialMedia{
    list-style-type: none;
    display: flex;
    margin-left: 50px;
 }

 